.container{
    background-color:#f1f1f1;
    /* width: 100%; */
    /* display: flex; */
    /* width: 5% 95%; */
    /* text-align: center; */
    /* display:inline-flex; */
}
.tool{
    background-color: crimson;
    height: 50%;
    width: 10%;
    margin-top: 10%;
    margin-left: 1%;
    border-radius: 1%;
    flex: 1;
    display: inline-block;
    z-index: 100;
} 